.Home {
  background-image: url("pic3.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: #aadcdd;
  height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Home p {
  font-size: 30px;
}

.Home h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin-bottom: 20px;
}

.Home h3 {
  font-size: 30px;
  margin-bottom: 60px;
}

.btn-primary {
  padding: 15px;
  color: white;
  background-image: url("pic4.jpg");
  background-color: #dae5e1;
  border: 1px solid white;
  /*font-weight: bold;*/
  box-shadow: 1px 1px rgba(128, 128, 128, 0.637);
}

.btn-primary:hover {
  color: white;
  background-image: url("pic2.jpg");
  background-color: #dae5e1;
  border: 1px solid white;
  transition: 125ms ease-in-out;
}

.btn-success {
  color: #00b9bd;
  background-color: white;
  border: 1px solid #00b9bd;
}

.btn-success:hover {
  color: white;
  background-color: #00b9bd;
  border: 1px solid white;
  transition: 125ms ease-in-out;
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin: 30px 0;
}
